extends layout

block content 
    .container.mt-3
        h1 Something went wrong
        p= err
        figure
            blockquote.blockquote
                p I winced at that sentence, that's a pain I know far too well
            figcaption.blockquote-footer model-ray, 29 July 2023
        a(href='/search').btn.btn-danger Start again