extends layout

block content
    .container.mt-3
        h1 An error occurred
        p The following error occurred: 
        pre= error
        figure
            blockquote.blockquote
                p Fucking hell
            figcaption.blockquote-footer model-ray, 58 times between main resetting and this website's creation
