extends layout 

block content 
    .container
        h1.display-1.text-center MHoC Bill Archive
        .container
            figure.text-center
                blockquote.blockquote
                    p My current thoughts on archiving: All bills/motions are put onto a shared Drivle
                figcaption.blockquote-footer model-ray, Head Moderator
            if success
                .alert.alert-success Bill successfully archived. Thanks for your hard work!
        if complete
            .row.text-center
                .col
                .col
                    h3 Total archive progress
                .col
            .row.text-center
                .col
                    h5.text-success-emphasis Commons Bills: #{complete.b.toFixed(2)}%
                .col
                    h5.text-danger-emphasis Lords Bills: #{complete.lb.toFixed(2)}%
            .row.text-center
                .col
                    ul.list-unstyled
                        each id in bills.commons
                            li #[a(href='/bill?bill=' + id)= id]
                .col
                    ul.list-unstyled
                        each id in bills.lords
                            li #[a(href='/bill?bill=' + id)= id]


    .container.d-flex.justify-content-center.mt-5
        a(href='/search').btn.btn-primary Get started
